.collegio-page{
  .riepilogo-collegio{
    background-color: rgb(250, 250, 250);
    border: 1px solid #FFFFFF;
    
    
    position: relative;
    float: left;

    .mappa{
      position: relative;
      overflow: hidden;
      float: left;
      width: 100%;
      height: 300px;
    }

    .titolo-collegio {
      width: 100%;
      padding: 10px 10px 5px 10px;
      margin: 0;
    }

  }
}