@import '~bootstrap-italia/src/scss/functions';

$senato: hsb(0, 84, 60) !default;
$camera: hsb(221, 76, 60) !default;
$primary: $camera;
$primary-h: 221;
$primary-s: 76;
$primary-b: 60;
// $primary: $senato;
// $primary-h: 0;
// $primary-s: 84;
// $primary-b: 60;

@import '~bootstrap-italia/src/scss/bootstrap-italia.scss';