@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,700,700i,900");
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: #1E4095;
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

/* MIXIN & VARS */
.left {
  position: relative;
  float: left;
}

.right {
  position: relative;
  float: right;
}
