@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,700,700i,900');

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

/* MIXIN & VARS */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md-min {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

@mixin md-max {
  @media (max-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

.left{
  position: relative;
  float: left;
}

.right{
  position: relative;
  float: right;
}