.deputato-page{
  .riepilogo-gruppo{
    background-color: rgb(250, 250, 250);
    border: 1px solid #FFFFFF;
    
    .riepilogo-gruppo-content{
      width: 100%;
    }

    .deputato-nome-simbolo{
      display: flex;
      align-items: center;
      margin-top:10px;
      
      .lista-simbolo img{
        margin-right:5px;
        width: 75px;
        height: auto;
      }
  
    }

  }
}